.warp {
  width: 100%;
  height:100%;
  overflow-y: scroll;
}

img {
  width: 100%;
  display: block;
}

.warp > p {
  color: #ffffff;
  font-size: .06rem;
}

.content {
  background:#4FC66E;
  padding: 0 .13rem .13rem;
  text-align: center;
}

.content > p {
  font-size: .08rem;
  color: #ffffff;
}

.content ul {
  margin-bottom: .3rem;
}

.content li {
  width: 47%;
  height:2.4rem;
  box-sizing:border-box; 
  -moz-box-sizing:border-box;
  background: #ffffff;
  -webkit-border-radius: .05rem;
  -moz-border-radius: .05rem;
  border-radius: .05rem;
  padding:.1rem;
  position: relative;
  float: left;
  margin-top:0.2rem;
}

.content li:nth-child(2n) {
  margin-left: .15rem;
}

.img-box {
  width: 1.4rem;
  height:1.4rem;
  margin:0 auto;
}
.mgy{
   padding-right:0.2rem;
}
.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content li b {
  display: block;
  text-align: left;
  color: #343434;
  font-size: .12rem;
  font-weight: normal;
}

.content li .text {
  width:100%;
  text-align: left;
  color: #BB3C1A;
  font-weight: bold;
  font-size: .15rem;
}

.content li p {
  width:100%;
  color: #DCDCDC;
  text-decoration: line-through;
  text-align: left;
  font-size: .08rem;
}

.text i {
  padding: .01rem .05rem;
  color: #DD960F;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  border-radius: .1rem;
  font-size: .08rem;
  border: 1px solid #DD960F;
}

.content li .btn-box {
  width: 100%;
  text-align: right;
  position: absolute;
  right: 0;

}

.btn-box span {
  padding: .02rem .1rem;
  display: inline-block;
  background: #ce3b3b;
  border-radius: .1rem 0 0 .1rem;
  color: #ffffff;
  font-size: .08rem;
}

.btn-box span.yellow {
  background: #CE763C;
}
.btn-box span.no {
  display: none;
}
.text-box{
  padding-top:.2rem; 
}
.content_title_bg{
  background: #C1EBCB;
  padding:.1rem 0;
}
.content_title {
  width:56%;
  margin:0 auto;
  font-weight: normal;
  text-align: center;
  position: relative;
  color: #fff;
  background: #2DA051;
  padding:.04rem .15rem;
  font-size: .15rem;
  border-radius:15px;
}

/*文字前*/
.content_title:before {
  content: "";
  position: absolute;
  width: 10%;
  /*横线长度 */
  height: .5px;
  top: 50%;
  background: #fff;
  left: 8%;
}

/*文字后*/
.content_title:after {
  content: "";
  position: absolute;
  width: 10%;
  height: .5px;
  top: 50%;
  background: #fff;
  right: 8%;
}
.loadingMaster {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.loadingImg {
  width: 60%;
  background-color: #FFF;
  -webkit-animation: animate 2s infinite ease-in-out alternate;
  animation: animate 2s infinite ease-in-out alternate;
}

.loadingImg img{
  width:100%;
  height:100%
}
@-webkit-keyframes animate {
  0% {
      -webkit-transform: perspective(100px) rotateY(0deg) scale(1);
  }

  50% {
      -webkit-transform: perspective(100px) rotateY(-180deg) scale(0.5);
  }

  100% {
      -webkit-transform: perspective(100px) rotateY(-180deg) rotateX(-180deg) scale(1);
  }
}

@keyframes animate {
  0% {
      transform: perspective(100px) rotateY(0deg) scale(1);
  }

  50% {
      transform: perspective(100px) rotateY(-180deg) scale(0.5);
  }

  100% {
      transform: perspective(100px) rotateY(-180deg) rotateX(-180deg) scale(1);
  }
}