/*activitiesDetail-cleaning*/

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    background: #FFE9D0;
}

body {
    width: 100%;
    height: 100%;
    background: url("../images/activitiesDetail-cleaning/bg.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.warp {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding-top: 50vh;
    padding-bottom: .3rem;
    overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.transparent {
    opacity: 0;
}

.activity-title {
    font-size: .26rem;
    background: linear-gradient(#FCDFC7, #F5B966);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    -webkit-text-stroke: 0.4px #fff;
}

.main {
    width: 100%;
    box-sizing: border-box;
    padding: 0 .3rem;
    margin-top: .35rem;
}

.main .shop-img {
    width: 1.5rem;
    height: 1rem;
}

.progress {
    width: 100%;
    height: .36rem;
    background: #fff;
    border-radius: 32px;
    overflow: hidden;
    margin-top: .1rem;
}

.progress .progressBar {
    width: 0%;
    height: .36rem;
    border-radius: 32px;
    background: linear-gradient(#F5B764, #FCDBC1);
    background: -webkit-linear-gradient(#F5B764, #FCDBC1);
}

.tip_text {
    color: #F5B766;
    font-weight: bold;
    font-size: .13rem;
    margin: .4rem 0 .06rem;
}

.btn {
    color: #fff;
    font-size: 18px;
    height: .42rem;
    line-height: .42rem;
    width: 1.4rem;
    background: linear-gradient(45deg, #F5B964, #FCDCC2);
    background: -webkit-linear-gradient(45deg, #F5B964, #FCDCC2);
    border-radius: 12px;
    margin: .1rem auto;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
}

.rules {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules img {
    width: 100%;
    height: 100%;
}

.rules-container {
    background: #FED19E;
    border-radius: 32px;
    width: 90%;
}

.rules_Info {
    width: 100%;
    padding: .2rem .3rem .6rem;
    color: #FF4F4A;
    font-weight: bold;
}

.rules_Info h1 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: .1rem;
}

.rules_Info h4,
.rules_Info p {
    color: #fff;
    font-size: .16rem;
}

.rules_Info h5,
.rules_Info h4 {
    font-size: .18rem;
}

.rulesBtn {
    background: linear-gradient(#EFD789, #E8BA68);
    background: -webkit-linear-gradient(#EFD789, #E8BA68);
    padding: .07rem .07rem .07rem 0;
    width: .46rem;
    font-size: .12rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: right;
    position: absolute;
    top: .15rem;
    right: 0;
    color: rgb(97, 97, 97);
    opacity: .7;
}

.reward {
    width: 100%;
    padding: .2rem .3rem .6rem;
    color: #FF4F4A;
    font-weight: bold;
    text-align: center;
}

.reward-title {
    background: #FF4E48;
    color: #FDFDC2;
    font-size: .2rem;
    height: .4rem;
    line-height: .4rem;
    width: 1.6rem;
    border-radius: 4px;
    margin: -.4rem auto .3rem;
}

.reward-detail {
    margin: .25rem 0;
}

.reward-close {
    width: 1.2rem;
    background: #FF4625;
    border: 2px solid #F61404;
    color: #FFE12D;
    border-radius: 8px;
    height: 32px;
    line-height: 32px;
    font-size: .14rem;
    margin: 0 auto;
}

.reward-main {
    background: red;
    background: url("../images/activitiesDetail-cleaning/bg.png") no-repeat 100% 58%;
    padding: 0px 0 50px;
    color: #F5B766;
    margin-top: .6rem;
}

.reward-main h1 {
    color: #FF4E48;
    font-size: .55rem;
    font-weight: 800;
    margin-bottom: .1rem;
    text-shadow: 4px 2px 0px #F5B766;
    letter-spacing: 0.02rem;
}

.reward-main h5 {
    font-weight: normal;
    font-size: .14rem;
}

.maskClose {
    width: .4rem;
    height: .4rem;
    margin: .2rem auto 0;
}

.maskClose img {
    width: 100%;
    height: 100%;
}

.loadingMaster {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.loadingImg {
    width: 60%;
    background-color: #FFF;
    -webkit-animation: animate 2s infinite ease-in-out alternate;
    animation: animate 2s infinite ease-in-out alternate;
}

.loadingImg img {
    width: 100%;
    height: 100%
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: perspective(100px) rotateY(0deg) scale(1);
    }

    50% {
        -webkit-transform: perspective(100px) rotateY(-180deg) scale(0.5);
    }

    100% {
        -webkit-transform: perspective(100px) rotateY(-180deg) rotateX(-180deg) scale(1);
    }
}

@keyframes animate {
    0% {
        transform: perspective(100px) rotateY(0deg) scale(1);
    }

    50% {
        transform: perspective(100px) rotateY(-180deg) scale(0.5);
    }

    100% {
        transform: perspective(100px) rotateY(-180deg) rotateX(-180deg) scale(1);
    }
}