html,body{background:#fff;}
img {
    width: 100%;
    height: 100%;
    display: block;
}
.container {
    box-sizing: border-box;
    background:url("../images/rank_rule.png")  no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width:100%;
    /* height:100%; */
    font-size:.15rem;
    position: relative;
    box-sizing: border-box;
    padding:1.61rem .26rem  .95rem;
    color:#fff;
    text-align: center;
}
.rules_time{
    font-size: .12rem;
    background:url("../images/rank_rule3.png")  no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width:95%;
    height:.65rem;
    margin:.1rem auto 0;
    box-sizing: border-box;
    padding-top: .08rem;
    position: relative;
}

.rules_title{
    padding:.12rem 0;
    font-size: .22rem;
    color:#fff;
}
.rules_info{
    color:#26C474;
    background:url("../images/rank_rule2.png")  no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    padding:0 .35rem .45rem;
}
h4,h6{
    font-weight: normal;
}
.rules_info h4{
    font-size: .18rem;
    margin-top: .15rem;
}
.rules_info p{
    font-size: .14rem;
    margin-top: .09rem;
}
.rules_info h6{
    font-size: .12rem;
    margin-top: .17rem;
}

.loadingMaster {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
}

.loadingImg {
    width: 60%;
    background-color: #FFF;
    -webkit-animation: animate 2s infinite ease-in-out alternate;
    animation: animate 2s infinite ease-in-out alternate;
}

.loadingImg img{
    width:100%;
    height:100%
}
@-webkit-keyframes animate {
    0% {
        -webkit-transform: perspective(100px) rotateY(0deg) scale(1);
    }

    50% {
        -webkit-transform: perspective(100px) rotateY(-180deg) scale(0.5);
    }

    100% {
        -webkit-transform: perspective(100px) rotateY(-180deg) rotateX(-180deg) scale(1);
    }
}

@keyframes animate {
    0% {
        transform: perspective(100px) rotateY(0deg) scale(1);
    }

    50% {
        transform: perspective(100px) rotateY(-180deg) scale(0.5);
    }

    100% {
        transform: perspective(100px) rotateY(-180deg) rotateX(-180deg) scale(1);
    }
}

