header{
  height:.64rem;
  background: #fac613;
}
.warp {
  width: 100%;
}
img {
  width: 100%;
  display: block;
}
.nav-box{
  border-radius:0 0 .1rem .1rem;
  position: fixed;
  top:0;
  left:0;
  z-index:1;
  background: #fff;
  width:100%;
  box-shadow:0 .01rem .14rem 0 #DCEAF5;
}
.packUp{
  text-align: center;
  padding: .14rem 0;
}
.navToggle{
  width:100%;
  display: flex;
  border-bottom: .01rem solid #838FA2;
  justify-content: space-between;
  align-items: center;
  color:#838FA2;
  font-size: .14rem;
  font-weight: 400;
  padding:.1rem .16rem;
}
.navActive{
  color:#4B4B5B;
  font-size: .16rem;
  font-weight: 600;
  position: relative;
}
.navActive::before{
  content: "";
  width:.2rem;
  height: 0.03rem;
  border-radius:.03rem;
  background:linear-gradient(155deg,#3CD7C2 0%,#2CC8D7 100%);
  background:-webkit-linear-gradient(155deg,#3CD7C2 0%,#2CC8D7 100%);
  position: absolute;
  left:calc(50% - .1rem);
  top:130%;
}
.navToggle select,.navToggle select option{
  color:#838FA2;
  background: #fff;
  position: relative;
  text-align: center;
  font-size: .14rem;
}
.navToggle select{
  margin-left: .85rem;
  padding-left:.12rem;
  border-left:.01rem solid #838FA2;
   /* appearance: none;  
  -moz-appearance: none;  
  -webkit-appearance: none;  */

}
.navSelect{
  display: flex;
  color: #4B4B5B;
  font-size: .14rem;
  justify-content: space-between;
  padding:.1rem .16rem;
}
.navSelect .navSelectItem{
  width:48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTag{
  display: flex;
  justify-content: space-between;
  background: url("../images/navTag_bg.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin:0 .16rem;
  padding:.17rem .16rem .11rem .12rem;
  color:#2EC4B6;
  font-size: .12rem;
  align-items: center;
}
.navTag_arrow{
  width:.06rem;
  height: .1rem;
  display: inline-block;
}
.course-box{
  padding:1.25rem .12rem .66rem;
}
.course-box .courseItem{
  background-color:#fff ;
  border-radius: .1rem;
  box-shadow:0 .01rem .14rem 0 #DCEAF5;
  padding: .22rem .18rem .13rem;
  color:#A4AAB3;
  margin-top:.1rem;
  position: relative;
}
.course-box .courseItem .siftTag{
  width:.35rem;
  height:.35rem;
  position: absolute;
  top:0;
  right:0;
}
.course-box .courseItemTitle{
  font-size: .18rem;
  font-weight: 500;
  color:#4B4B5B;
}
.course-box .courseItemDesc{
  font-size: .12rem;
  color:#838FA2;
  margin:.08rem 0 .18rem;
}
.course-box .courseItemInfo{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width:100%;

}
.buyBtn{
  border-radius: .15rem;
  font-size: .13rem;
  width:.66rem;
  height:.28rem;
  line-height: .28rem;
  font-weight: 500;
  text-align: center;
}
.buyBtn b{
  border-radius: 50%;
  color:#fff;
  display: inline-block;
  width:.14rem;
  height:.14rem;
  font-size: .14rem;
  line-height:.14rem;
  margin-right: .04rem;
  box-sizing: border-box;
}
.courseDel{
  background-color:rgba(164,170,179,0.14);
  color:#838FA2;
}
.courseDel b{
  background-color:rgba(131,143,162,1);;
}
.courseAdd{
  background: rgba(255,116,21,.1);
  color:#FF8B18;
}
.courseAdd b{
  background: rgba(255,116,21,0.8);

}
.courseItemTeacherList{
  display: flex;
  width:52%;
  overflow: hidden;
  justify-content: space-between;

}
.courseItemTeacherList li{
  width:23%;
}
.course-box .courseItemInfo .courseItemTeacherList .CIT-teacherAvatar{
  width:.32rem;
  height:.32rem;
  border-radius: 50%;
  overflow: hidden;
  margin:0 auto;
  position: relative;
}
.course-box .courseItemInfo .courseItemTeacherList .CIT-teacherAvatar .avatarMask{
  position: absolute;
  top:0;
  left:0;
  background:red;
  width:.32rem;
  height:.32rem;
  border-radius: 50%;
  text-align: center;
  line-height:.32rem;
  color:#fff;
  background-color:rgba(13,19,26,0.4);
}
.course-box .courseItemInfo .courseItemTeacherList .CIT-teacherName{
  font-size: .1rem;
  text-align: center;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width:.4rem;
  margin-top: .06rem;
}
.priceSpecialTag{
  background:linear-gradient(315deg,rgba(108,90,255,.8) 0%,rgba(146,116,255,.8) 100%);
  background:-webkit-linear-gradient(315deg,rgba(108,90,255,.8) 0%,rgba(146,116,255,.8) 100%);
  border-radius:5px 5px 5px 0px;
  opacity:0.8;
  display: inline-block;
  font-size: .1rem;
  color:#fff;
  padding:.05rem .06rem;
}
.priceDetail{
  color:#FF8B18;
  font-weight: 500;
  font-size: .18rem;
}
.priceDetail span{
  color:#4B4B5B;
  font-weight: 500;
  font-size: .14rem;
  font-weight: 400;
}
.priceDetail span i{
  text-decoration: line-through;
}
.courseItemBonus {
  font-size: .11rem;
  font-weight: 400;
  width:100%;
  border-top:.01rem solid #526666;
  padding-top:.1rem;
  margin-top: .17rem;
}
.courseItemBonus i{
  color:#FF8B18;
  border-radius: .03rem;
  background-color: rgba(255,139,24,.14);
  padding:.03rem .04rem;
}
.courseItemBonus span{
  margin-left: .08rem;
}
.footer-box{
  height:.56rem;
  width:100%;
  position: fixed;
  left:0;
  bottom: 0;
  z-index:1;
  background: #fff;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.understandBtn{
  width:90%;
  height:.44rem;
  line-height: .44rem;
  border-radius: .1rem;
  text-align: center;
  color:#fff;
  background:linear-gradient(155deg,#2CC8D7 0%,#3CD7C2 100%); 
  background: -webkit-linear-gradient(155deg,#2CC8D7 0%,#3CD7C2 100%); 
}
.courseSettlement{
  display: flex;
  justify-content: space-between;
  width:93.1%;
}
.courseSettlement-totalPrice{
  font-size: .14rem;  
}
.courseSettlement-totalPrice .totalPrice{
  color:#333333;
  font-weight: 400;
}
.courseSettlement-totalPrice .totalPrice i{
  color:#4B4B5B;
  font-weight: 400;
}
.courseSettlement-totalPrice .totalPrice b{
  color:#4B4B5B;
  font-weight: 500;
  font-size:.18rem;
}
.courseSettlement-totalPrice .totalPrice span{
  color:#4B4B5B;
  font-size: .14rem;
}
.courseSettlement-totalPrice .discountPrice{
  color:#FF8B18;
  font-size: .12rem;
}
.courseSettlement-totalPrice .discountPrice i{
  font-size: .1rem;
}
.courseSettlement-totalPrice .discountPrice b{
  color:#FF8B18;
  font-weight: 500;
  font-size: .14rem;
}
.courseSettlement-totalPrice .discountPrice span{
  color:#FF8B18;
  font-size: .12rem;
}
.courseSettlement-btns{
  display: flex;
  justify-content: space-between;
  width:55%;
  height:.44rem;
  line-height: .44rem;
  text-align: center;
  color:#fff;
}
.settleAccountsBtn{
  width:70%;
  height: 100%;
  background:#FF8B18;
  border-radius:.1rem 0 0 .1rem;
}
.serviceBtn{
  width:29%;
  background:linear-gradient(155deg,#2CC8D7 0%,#3CD7C2 100%); 
  background: -webkit-linear-gradient(155deg,#2CC8D7 0%,#3CD7C2 100%); 
border-radius:0 .1rem .1rem 0;
}
.box {
  background: url("../images/activitiesDetail-product-bg.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 105%;
  padding: .43rem .63rem;
  text-align: center;
  padding-bottom: .5rem;
}

.box img {
  width: .87rem;
  display: inline-block;
}

.preferential {
  width: 2.4rem;
  border: 2px solid #fac613;
  margin-top: .2rem;
  text-align: center;
  font-size: .18rem;
  padding: .1rem .15rem;
  display: inline-block;
  margin-bottom: .2rem;
}

.preferential > p {
  color: #FA1313;
  font-weight: bold;
}

.preferential > h1 {
  color: #FA1313;
  font-size: .4rem;
  text-shadow: -1px 2px 2px #999;
  margin-bottom: .1rem;
  font-family: "FZZYJW--GB1-0";
}

.product-img {
  width: 1.3rem;
  display: inline-block;
  position: relative;
}

.product-img::before {
  width: .3rem;
  height: .3rem;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: -.1rem;
  background: url("../images/product-img-icon.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.product-box {
  color: #FA1313;
  font-size: .08rem;
}

.product-box .left {
  width: 70%;
  text-align: left;
  display: inline-block;
  vertical-align: bottom;
}

.product-box .left h3 {
  font-size: .15rem;
}

.product-box .left p.text {
  text-decoration: line-through;
  color: #eb9f9f;
}

.product-box .left p.link {
  text-decoration: underline;
  margin-top: .05rem;
}

.product-box .right {
  width: 28%;
  display: inline-block;
  vertical-align: bottom;
  font-size: .14rem;
  text-align: right;
}

.right .icon {
  background: #FA1313;
  color: #fff;
  padding: .02rem .03rem;
  position: relative;
}

.icon::before {
  width: .23rem;
  height: .23rem;
  display: block;
  content: '';
  position: absolute;
  top: -.3rem;
  right: .05rem;
  background: url("../images/product-img-icon2.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.right > p {
  font-size: .18rem;
}

.right > i {
  font-size: .38rem;
  font-weight: bold;
}

.box > div> p, .box > div > i {
  color: #1ABB8F;
  font-size: .19rem;
}

.box > div > i {
  font-size: .08rem;
  margin-bottom: .05rem;
  display: block;
}
